/*Primary Colors*/

$primary-lightblue-100:#eaf9ff;
$primary-lightblue-200:#2dc8ff;
$primary-lightblue-300:#00bafc;

$primary-blue-100:#1867ff;
$primary-blue-200:#1753c9;

$primary-darkblue-100:#263170;

$primary-yellow-100:#ffc900;

/*Secondary Colors*/
$secondary-orange-100:#ff9a1c;

$secondary-pink-100:#f41351;

$secondary-green-100:#60de50;

/*Grey Tones*/

$grey-tones-100:#ffffff;
$grey-tones-200:#dee3ed;
$grey-tones-300:#8e9fad;
$grey-tones-400:#5f6b76;
$grey-tones-500:#253342;
$grey-tones-600:#1c1f25;

/* Editing*/
$nav-bg:rgba(24, 39, 74, 0.2);