.hero-title{
  font-family: 'Muli';
  font-size: 48px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
}
.hero-title-2{
    font-size: 80px;
    font-weight: bold;
}
.hero-description{

    font-family: 'Muli';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal
}   

$default-font:16px;
$extra-mini-font:12px;
$mini-font:14px;
$small-font:18px;
$medium-font:22px;
$large-font:24px;
$big-font:48px; 
$extra-big-font:80px;




