@import "../../../../scss/main.scss";

.Duyurular__card{        
    margin-bottom: 25px;
    &--notf{
        position: absolute;
        width: 60px;
        height: 25px;
        background-color: $secondary-pink-100;
        right: 12.5px;
        border-radius: 0 10px 0 10px;
        text-align: center;
        span{
            font-family: 'IBMPlexSans';
            font-size: $mini-font;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            text-align: center;
            color: $grey-tones-100;
        }
    }
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $grey-tones-100;
        height: 88px;
        border-radius: 10px;
        border: 1px solid $grey-tones-200;
        &--text{
            padding-left: 30px;
        }

        &--img{
            padding-right: $medium-spacing;

            img{
                width: 24px;
                height: 24px;
            }
        }
    }
    &__container--warning{
        border: 1px solid $secondary-pink-100;
    }
}